*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100vh;
    width: 100vw;
}

#page4{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#signupnav{
    height: 10vh;
    width: 100vw;
    background-color: #2ef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    text-transform: capitalize;
}
#box2{
    /* background-color: blue; */
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;  
    padding-top: 10px;
    box-shadow: 1px 1px 10px 1px #000;
}
#name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
 input{
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    font-size: 17px;
}
#regi{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
#gender{
    display: flex;
    align-items:left;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}
#dob{
    display: flex;
    align-items: left;
    justify-content:left;
    gap: 10px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pass{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#pass input{
    width: 230px;
}
#option{
    display: flex;
    gap: 10px;
}
#otp{
    display: flex;
    gap: 10px;
}
#otp input{
    width: 150px;
}
#otp button{
    background-color: rgb(230, 181, 89);
    padding: 10px 20px;
    outline: none;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 700px;
    transition: all ease 0.5s;
}
#otp button:hover{
    background-color: orange;
}
#submit{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#submit button{
    background-color: rgb(134, 210, 216);
    font-size: 16px;
    padding: 10px 20px;
    width: 180px;
    transition: all ease 0.5s;
}
#submit button:hover{
    background-color: #2ef;
}
a{
    text-decoration: none;
    color: royalblue;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all ease 0.5s;
}
a:hover{
    text-decoration: underline;
}
#category{
    display: flex;
    gap: 5px;
}
#category h4{
    text-transform: capitalize;
}
#doc{
    display: flex;
    align-items: center;
    gap: 10px;
}
#doc input{
    width: 200px;
}
#agree{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#agree a{
    font-size: 12px;
}
